# Ignore all files in the data directory
data/*
!data/.gitkeep

# Ignore ipython notebooks
*.ipynb

# Ignore outputs from main.py if not final result
train_results.csv
test_results.csv
val_results.csv

# Ignore enriched datasets
enriched_*.csv

#  Ignore .pyc
*.pyc
__pycache__/

# Ignore api keys
api_key.txt
openai_key.txt
gemini_api_key.txt
groq_api_key.txt