# Ignore all files in the data directory
data/*
!data/.gitkeep

# Ignore ipython notebooks
*.ipynb

# Ignore outputs from main.py if not final result
train_results.csv
test_results.csv
val_results.csv

#  Ignore .pyc
*.pyc
__pycache__/

# Ignore api_key.txt
api_key.txt